.row
  .col-12
    %h3 Credits

    
      
    %div
      Changed to specifications and made significant contributions to the code base to make it a white label web app: Rudy Summers, contactable 
      = succeed "." do
        %a{href: "mailto:summersrudy@gmail.com"} via email
    %div
      Bug fixing and setup assistance: CyberChronometer, contactable 
      = succeed "." do
        %a{href:"mailto:geek@geekanddad.com"} via email

    %div
    %br
      MSEM2 is intended for playing with custom cards only, and is not used to create nor distribute counterfeits of real items produced by Wizards of the Coast, Konami, or other companies. No custom card attempts to pass itself off as a real Magic the Gathering card.

    %div
    %br
      Based on mtg.wtf,
      = succeed "" do
        %a{href: "https://github.com/taw/magic-search-engine"} located on github,
      which was created by Tomasz Wegrzanowski (taw). He's contactable via
      = succeed " or" do
        %a{href: "mailto:Tomasz.Wegrzanowski@gmail.com"} email 
      = succeed "" do
        %a{href: "http://twitter.com/t_a_w"} twitter
